<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-body">
    <p>募集者に参加リクエストを送ります。問題なければOKを押してください。</p>
    </div>
    <div class="modal-footer actions">
      <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"><%= link_to "OK", meeting_path(id: @meeting.id, user: current_user.id), remote: true %></button>
      <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>