<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">募集を作成しました。</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>参加リクエストがあった場合、アフターキャンパスからDMでお伝えします。</p>
    <p class="fab fa-twitter" style="color:#1da1f2;">※twitterで<b>DMを受け取れるよう設定</b>をしてください※</p>
    </div>
    <div class="modal-footer actions">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal"><%= link_to "OK", meetings_path %></button>
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>