$("#bookmark_btn_<%= @meeting.id %>").remove();
$("#carouselExampleControls").html("<%= escape_javascript(render(partial:'meetings/index')) %>")
<% flash.each do |type, message| %>
  $("#carouselExampleControls").html('<p class="alert alert-success"><%= type %><%= message %></p>')
<% end %>
$("#user-modal").modal("hide")
