<%set_meta_tags noindex: true, nofollow: true%>

<div class="container bg-light">
        <div class="row mb-5">
          <div class="col-md-4">
            <h3 class="footer-heading mb-4">このサイトについて</h3>
            <p>サービスへの要望がある場合はこちら</p>
            <p><%= link_to "after-campusのTwitter", "https://twitter.com/campus_after" %></p>
            <p><%= mail_to "aftercampus0617@gmail.com"%></p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy; <script>(function(){document.write(new Date().getFullYear())});</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <%=link_to "https://colorlib.com", "https://colorlib.com", target: "_blank"%>Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
              <p>Powered by <%= link_to "http://webservice.recruit.co.jp/", "http://webservice.recruit.co.jp/" %>ホットペッパー Webサービス</p>
          </div>
        </div>
      </div>
    </div>