<% set_meta_tags title: "「どこ行く？」を解決する大学生専用サイト！", description: "お店で探す？それとも出会いで探す？「どこ行く？」を解決する大学生専用飲み会サイト", keywords: '居酒屋, 出会い, 大学生'  %>

      <div class="site-section bg-light">
        <div class="container">
          <div class="row align-items-stretch retro-layout-2">
          <div class="col-md-4" >
              <div class="h-entry mb-30 v-height gradient">
                <%=image_tag 'osake.jpg', alt: "カクテル", class: "h-entry mb-30 v-height gradient"%>
                <div class="text">
                  <h2><button onclick="getmeetingPosition();" type="button" class="btn-outline-primary rounded-pill"><div class="fas fa-wine-glass-alt">徒歩5分で着く募集を探す</div></button></h2>
                  <span class="date">新たな出会いを探しに...</span>
                </div>
              </div>
            </div>
            <div class="col-md-4" >
              <div class="h-entry mb-30 v-height gradient">
                <%=image_tag 'nomikai.jpg', alt: "飲み会", class: "h-entry mb-30 v-height gradient"%>
                <div class="text">
                  <h2><button onclick="getPosition();" type="button" class="btn-outline-info rounded-pill"><div class="fas fa-beer">徒歩5分で着く居酒屋を探す</div></button></h2>
                  <span class="date">一件目行く居酒屋、朝まで過ごすバーなど...</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>