<div class="dialog">
    <div>
      <h1>ページが表示できません。（400）</h1>
      <p>不正なリクエストを受け取りました。通信状況またはフォーム内容を確認し再度実行してください。解決されない場合は、<a href="https://twitter.com/campus_after" class="p-3">after-campus</a>までお問い合わせください。</p>
    </div>
    <p><a href="/" class="p-3">トップページに戻る</a></p>
</div>