<div class="dialog">
    <div>
      <h1>ページが表示できません。（500）</h1>
      <p>通信状況が悪い可能性があります。通信状況の良いところで再度お試しください。もしくはしばらく時間をおいて再度ご覧ください。改善されない場合は、お手数ですが<a href="https://twitter.com/campus_after" class="p-3">after-campus</a>までお問い合わせください。</p>
    </div>
    <p><a href="/" class="p-3">トップページに戻る</a></p>
</div>