<div class="dialog">
  <div>
    <h1>ページが表示できません。（422）</h1>
      <p>しばらく時間をおいてもご覧いただけない場合。URLをタイプミスしていないか再度ご確認ください。改善されない場合は、お手数ですが<a href="https://twitter.com/campus_after" class="p-3">after-campus</a>までお問い合わせください。</p>
  </div>
  <p><a href="/" class="p-3">トップページに戻る</a></p>
</div>