.wrapper {
	min-height: 100vh;
	position: relative;
	padding-top: 76px;
	padding-bottom: 71.2px;
	box-sizing: border-box;
}
.wra {
	width: auto;
  height: 100vh;
  min-height: 100vh;
}
body {
	line-height: 1.7;
	color: lighten($black, 50%);
	font-weight: 300;
	font-size: $font-size-base;
	height: 0;
	margin-bottom: 30px;
	z-index: 0;
	position: relative;
	width: 100%;
	background: image-url("tonight.jpg");
	background-size: cover;
}
a {
	transition: .3s all ease;
	color: $primary;
	&:hover {
		color: darken($primary, 10%);
		text-decoration: none;
	}
}
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	line-height: 1.5;
	color: $black;
}
.site-section {
	padding: 2.5em 0;
}
