.container {
	max-width: 1200px;
}
.retro-layout-2 {
	.v-height {
		height: 300px;
		margin-bottom: 30px;
	}
	.h-entry {
		display: block;
		position: relative;
		border-radius: 4px;
		overflow: hidden;
		background-size: cover;
		background-position: center center;
		&.mb-30 {
			margin-bottom: 30px;
		}
		.date {
			font-size: 15px;
		}
		&.gradient {
			position: relative;
			&:before {
				z-index: 1;
				content: '';
		    position: absolute;
		    top: 0;
		    right: 0;
		    bottom: 0;
		    left: 0;
		    background: -moz-linear-gradient(top, transparent 0%, transparent 18%, rgba(0,0,0,0.8) 99%, rgba(0,0,0,0.8) 100%);
		    background: -webkit-linear-gradient(top, transparent 0%, transparent 18%, rgba(0,0,0,0.8) 99%, rgba(0,0,0,0.8) 100%);
		    background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0,0,0,0.8) 99%, rgba(0,0,0,0.8) 100%);
		    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 );
			}
		}
	}
	.text {
		position: absolute;
		bottom: 0;
		z-index: 10;
		padding: 20px;
		max-width: 350px;
		h2 {
			color: $white;
			font-size: 18px;
			line-height: 1.5;
			margin-bottom: 0;
		}
		span {
			color: rgba($white, .5);
		}
		&.text-sm {
			h2 {
				font-size: 18px;
				line-height: 1.5;	
			}
		}
	}
	.gradient {
		position: relative;
		&:before {
			z-index: 1;
			content: '';
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    background: -moz-linear-gradient(top, transparent 0%, transparent 18%, rgba(0,0,0,0.8) 99%, rgba(0,0,0,0.8) 100%);
	    background: -webkit-linear-gradient(top, transparent 0%, transparent 18%, rgba(0,0,0,0.8) 99%, rgba(0,0,0,0.8) 100%);
	    background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0,0,0,0.8) 99%, rgba(0,0,0,0.8) 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 );
		}
	}
}
.post-category {
	display: inline-block;
	padding: 2px 10px;
	border-radius: 32px;
	letter-spacing: .2em;
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
}
.post-meta {
	font-size: 13px;
	color: #b3b3b3;
}