@font-face {
  font-family: "NotoSansCJKjp-Bold.otf_font";
  src: asset_url('NotoSansCJKjp-Bold.otf') format("truetype");
  font-weight: normal;
  font-style: normal;

  font-family: "NotoSansCJKjp-Medium.otf_font";
  src: asset_url('NotoSansCJKjp-Medium.otf') format("truetype");
  font-weight: normal;
  font-style: normal;
}